

/*colors*/
$color-primary: #6639B7;
$color-primary-rbg: rgba(103, 58, 183, 0.9);
$color-accent: rgba(123, 78, 203, 0.9);

$color-highlight: #F7D836;

$white: #fff;


/* Fonts */
//Text
$font-primary-color: #878787;
$title-color: #512DA8;
$font-primary:  'Helvetica Neue', Helvetica, Arial, sans-serif;