.art-gallery {
	margin: 0 auto;
}

.drawing {
	width: 320px;
	height: 320px;
	display: block;
	margin: 1em auto;
}

@media(min-width:1000px) {
	.art-gallery {
		display: flex;
		flex-wrap: wrap;
		margin: 0 10em;

		&__image {
			flex: 1 1 50%;
			margin: .5em 0;
		}
	}
}